/*----------
SETTINGS
----------*/
@import "https://cdnjs.cloudflare.com/ajax/libs/meyer-reset/2.0/reset.min.css";
/*
@font-face {
    font-family: 'Aktiv Grotesk Light';
    src: url('../fonts/subset-AktivGrotesk-Light.woff2') format('woff2'),
        url('../fonts/subset-AktivGrotesk-Light.woff') format('woff');
    font-weight: 300;
    font-style: normal;
}
*/
@font-face {
  font-family: 'Aktiv Grotesk';
  src: url("../fonts/subset-AktivGrotesk-Regular.woff2") format("woff2"), url("../fonts/subset-AktivGrotesk-Regular.woff") format("woff");
  font-weight: normal;
  font-style: normal;
}

@font-face {
  font-family: 'Minion Pro';
  src: url("../fonts/subset-MinionPro-Regular.woff2") format("woff2"), url("../fonts/subset-MinionPro-Regular.woff") format("woff");
  font-weight: normal;
  font-style: normal;
}

@font-face {
  font-family: 'Minion Pro Italic';
  src: url("../fonts/subset-MinionPro-It.woff2") format("woff2"), url("../fonts/subset-MinionPro-It.woff") format("woff");
  font-weight: normal;
  font-style: italic;
}

/*----------
VARIABLES
----------*/
/*fonts*/
/*further*/
/*greatworks*/
/*personalfinance*/
/*bullogram*/
/*yousee*/
/*animations*/
/*----------
THEMES
----------*/
/*frontpage*/
/* line 85, /Users/ms/Documents/Projects/Personal Portfolio/5 Dev/sass/main.scss */
#frontpage {
  background: black;
}

/* line 87, /Users/ms/Documents/Projects/Personal Portfolio/5 Dev/sass/main.scss */
#frontpage h1 {
  color: white;
}

/* line 90, /Users/ms/Documents/Projects/Personal Portfolio/5 Dev/sass/main.scss */
#frontpage a, #frontpage p {
  color: grey;
}

/* line 93, /Users/ms/Documents/Projects/Personal Portfolio/5 Dev/sass/main.scss */
#frontpage #info {
  display: grid;
  grid-template: auto/repeat(2, 1fr);
  width: 1200px;
  margin: 80px auto auto auto;
}

/* line 99, /Users/ms/Documents/Projects/Personal Portfolio/5 Dev/sass/main.scss */
#frontpage #cases {
  display: grid;
  grid-template: auto/repeat(2, 1fr);
  width: 1200px;
  margin: 160px auto auto auto;
}

/* line 104, /Users/ms/Documents/Projects/Personal Portfolio/5 Dev/sass/main.scss */
#frontpage #cases .greatworks {
  padding-right: 240px;
}

/* line 107, /Users/ms/Documents/Projects/Personal Portfolio/5 Dev/sass/main.scss */
#frontpage #cases .bullogram {
  padding-right: 80px;
}

/* line 110, /Users/ms/Documents/Projects/Personal Portfolio/5 Dev/sass/main.scss */
#frontpage #cases .yousee {
  padding-left: 160px;
}

/* line 113, /Users/ms/Documents/Projects/Personal Portfolio/5 Dev/sass/main.scss */
#frontpage #cases .personalfinance {
  padding-left: 160px;
}

/* line 116, /Users/ms/Documents/Projects/Personal Portfolio/5 Dev/sass/main.scss */
#frontpage #cases img + p {
  margin-top: 20px;
}

/*further*/
/* line 123, /Users/ms/Documents/Projects/Personal Portfolio/5 Dev/sass/main.scss */
#further {
  background: #F1ECE7;
}

/* line 125, /Users/ms/Documents/Projects/Personal Portfolio/5 Dev/sass/main.scss */
#further h1 {
  color: #55857F;
}

/* line 129, /Users/ms/Documents/Projects/Personal Portfolio/5 Dev/sass/main.scss */
#further .align-right a, #further .align-right p {
  color: #55857F;
}

/* line 133, /Users/ms/Documents/Projects/Personal Portfolio/5 Dev/sass/main.scss */
#further a, #further p {
  color: #78706B;
}

/*greatworks*/
/* line 139, /Users/ms/Documents/Projects/Personal Portfolio/5 Dev/sass/main.scss */
#greatworks {
  background: #797E81;
}

/* line 141, /Users/ms/Documents/Projects/Personal Portfolio/5 Dev/sass/main.scss */
#greatworks h1 {
  color: white;
}

/* line 145, /Users/ms/Documents/Projects/Personal Portfolio/5 Dev/sass/main.scss */
#greatworks .align-right a, #greatworks .align-right p {
  color: white;
}

/* line 149, /Users/ms/Documents/Projects/Personal Portfolio/5 Dev/sass/main.scss */
#greatworks a, #greatworks p {
  color: #CED5D9;
}

/* line 152, /Users/ms/Documents/Projects/Personal Portfolio/5 Dev/sass/main.scss */
#greatworks .lg, #greatworks .bg-one-screen, #greatworks .bg-two-screens {
  background: #6E7375;
}

/* line 156, /Users/ms/Documents/Projects/Personal Portfolio/5 Dev/sass/main.scss */
#greatworks .lg img, #greatworks .lg video, #greatworks .bg-one-screen img, #greatworks .bg-one-screen video, #greatworks .bg-two-screens img, #greatworks .bg-two-screens video, #greatworks .bg-three-screens img, #greatworks .bg-three-screens video {
  filter: drop-shadow(8px 8px 16px #565A5C);
}

/*bullogram*/
/* line 163, /Users/ms/Documents/Projects/Personal Portfolio/5 Dev/sass/main.scss */
#personalfinance {
  background: #500A5A;
}

/* line 165, /Users/ms/Documents/Projects/Personal Portfolio/5 Dev/sass/main.scss */
#personalfinance h1 {
  color: #F03C64;
}

/* line 169, /Users/ms/Documents/Projects/Personal Portfolio/5 Dev/sass/main.scss */
#personalfinance .align-right a, #personalfinance .align-right p {
  color: #F03C64;
}

/* line 173, /Users/ms/Documents/Projects/Personal Portfolio/5 Dev/sass/main.scss */
#personalfinance a, #personalfinance p {
  color: #E0CCE3;
}

/* line 176, /Users/ms/Documents/Projects/Personal Portfolio/5 Dev/sass/main.scss */
#personalfinance .lg {
  background: #783282;
}

/* line 180, /Users/ms/Documents/Projects/Personal Portfolio/5 Dev/sass/main.scss */
#personalfinance .bg-three-screens img, #personalfinance .bg-four-screens img {
  filter: drop-shadow(8px 8px 16px #500A5A);
}

/*bullogram*/
/* line 187, /Users/ms/Documents/Projects/Personal Portfolio/5 Dev/sass/main.scss */
#bullogram {
  background: #F2DAE1;
}

/* line 189, /Users/ms/Documents/Projects/Personal Portfolio/5 Dev/sass/main.scss */
#bullogram h1 {
  color: #F17397;
}

/* line 193, /Users/ms/Documents/Projects/Personal Portfolio/5 Dev/sass/main.scss */
#bullogram .align-right a, #bullogram .align-right p {
  color: #F17397;
}

/* line 197, /Users/ms/Documents/Projects/Personal Portfolio/5 Dev/sass/main.scss */
#bullogram a, #bullogram p {
  color: #592B38;
}

/* line 200, /Users/ms/Documents/Projects/Personal Portfolio/5 Dev/sass/main.scss */
#bullogram .lg, #bullogram .bg-one-screen, #bullogram .bg-two-screens {
  background: #F7E4E9;
}

/* line 204, /Users/ms/Documents/Projects/Personal Portfolio/5 Dev/sass/main.scss */
#bullogram .bg-one-screen img, #bullogram .bg-one-screen video, #bullogram .bg-two-screens img, #bullogram .bg-two-screens video, #bullogram .bg-three-screens img, #bullogram .bg-three-screens video {
  filter: drop-shadow(8px 8px 16px #D9BFC6);
}

/*yousee*/
/* line 211, /Users/ms/Documents/Projects/Personal Portfolio/5 Dev/sass/main.scss */
#yousee {
  background: #14503A;
}

/* line 213, /Users/ms/Documents/Projects/Personal Portfolio/5 Dev/sass/main.scss */
#yousee h1 {
  color: #50CC5C;
}

/* line 217, /Users/ms/Documents/Projects/Personal Portfolio/5 Dev/sass/main.scss */
#yousee .align-right a, #yousee .align-right p {
  color: #50CC5C;
}

/* line 221, /Users/ms/Documents/Projects/Personal Portfolio/5 Dev/sass/main.scss */
#yousee a, #yousee p {
  color: #CFE6D1;
}

/* line 224, /Users/ms/Documents/Projects/Personal Portfolio/5 Dev/sass/main.scss */
#yousee .lg, #yousee .bg-one-screen, #yousee .bg-two-screens {
  background: #114230;
}

/* line 228, /Users/ms/Documents/Projects/Personal Portfolio/5 Dev/sass/main.scss */
#yousee .bg-one-screen img, #yousee .bg-one-screen video, #yousee .bg-two-screens img, #yousee .bg-two-screens video, #yousee .bg-three-screens img, #yousee .bg-three-screens video {
  filter: drop-shadow(8px 8px 16px #114230);
}

/*----------
GENERAL
----------*/
/* line 238, /Users/ms/Documents/Projects/Personal Portfolio/5 Dev/sass/main.scss */
* {
  box-sizing: border-box;
}

/* line 241, /Users/ms/Documents/Projects/Personal Portfolio/5 Dev/sass/main.scss */
h1, h2, a, p {
  font-family: "Aktiv Grotesk", Arial;
}

/* line 244, /Users/ms/Documents/Projects/Personal Portfolio/5 Dev/sass/main.scss */
h1, h2 {
  color: white;
  font-size: 64px;
  line-height: 84px;
}

/* line 248, /Users/ms/Documents/Projects/Personal Portfolio/5 Dev/sass/main.scss */
h1 .minion, h2 .minion {
  font-size: 74px;
}

/* line 252, /Users/ms/Documents/Projects/Personal Portfolio/5 Dev/sass/main.scss */
a {
  text-decoration: none;
}

/* line 255, /Users/ms/Documents/Projects/Personal Portfolio/5 Dev/sass/main.scss */
p {
  font-size: 18px;
  line-height: 32px;
}

/* line 259, /Users/ms/Documents/Projects/Personal Portfolio/5 Dev/sass/main.scss */
img {
  max-width: 100%;
}

/* line 262, /Users/ms/Documents/Projects/Personal Portfolio/5 Dev/sass/main.scss */
video {
  width: 100%;
}

/* line 265, /Users/ms/Documents/Projects/Personal Portfolio/5 Dev/sass/main.scss */
.line {
  display: inline-block;
  position: relative;
  margin: auto 10px;
  bottom: 5px;
  width: 20px;
  height: 1px;
  background: grey;
}

/*----------
LAYOUT
----------*/
/* line 279, /Users/ms/Documents/Projects/Personal Portfolio/5 Dev/sass/main.scss */
.lg, .bg-four-screens {
  width: 100%;
}

/* line 282, /Users/ms/Documents/Projects/Personal Portfolio/5 Dev/sass/main.scss */
.bg-one-screen, .bg-two-screens, .bg-three-screens, .bg-four-screens {
  padding: 80px;
}

/* line 285, /Users/ms/Documents/Projects/Personal Portfolio/5 Dev/sass/main.scss */
.content, .bg-two-screens, .bg-three-screens, .bg-four-screens {
  display: grid;
  grid-column-gap: 80px;
}

/* line 289, /Users/ms/Documents/Projects/Personal Portfolio/5 Dev/sass/main.scss */
.intro, .content, .bg-one-screen, .bg-three-screens, .picture {
  width: 1200px;
  margin: auto;
}

/* line 293, /Users/ms/Documents/Projects/Personal Portfolio/5 Dev/sass/main.scss */
.content {
  grid-template: auto / 1fr 2fr;
}

/* line 296, /Users/ms/Documents/Projects/Personal Portfolio/5 Dev/sass/main.scss */
.bg-two-screens {
  grid-template: auto/repeat(2, 1fr);
}

/* line 299, /Users/ms/Documents/Projects/Personal Portfolio/5 Dev/sass/main.scss */
.bg-three-screens {
  grid-template: auto/repeat(3, 1fr);
}

/* line 302, /Users/ms/Documents/Projects/Personal Portfolio/5 Dev/sass/main.scss */
.bg-four-screens {
  grid-template: auto/repeat(4, 1fr);
}

/* line 305, /Users/ms/Documents/Projects/Personal Portfolio/5 Dev/sass/main.scss */
#back-button {
  width: 1200px;
  margin: 80px auto auto auto;
}

/* line 308, /Users/ms/Documents/Projects/Personal Portfolio/5 Dev/sass/main.scss */
#back-button a {
  font-size: 18px;
}

/* line 310, /Users/ms/Documents/Projects/Personal Portfolio/5 Dev/sass/main.scss */
#back-button a img {
  position: relative;
  top: 2px;
  margin-right: 10px;
}

/*----------
TWEAKS
----------*/
/* line 322, /Users/ms/Documents/Projects/Personal Portfolio/5 Dev/sass/main.scss */
.minion {
  font-family: "Minion Pro Italic", serif;
}

/* line 325, /Users/ms/Documents/Projects/Personal Portfolio/5 Dev/sass/main.scss */
.bottom160 {
  margin-bottom: 160px;
}

/* line 328, /Users/ms/Documents/Projects/Personal Portfolio/5 Dev/sass/main.scss */
.top160 {
  margin-top: 160px;
}

/* line 331, /Users/ms/Documents/Projects/Personal Portfolio/5 Dev/sass/main.scss */
.top80 {
  margin-top: 80px;
}

/* line 334, /Users/ms/Documents/Projects/Personal Portfolio/5 Dev/sass/main.scss */
.top15 {
  margin-top: 15px;
}

/* line 337, /Users/ms/Documents/Projects/Personal Portfolio/5 Dev/sass/main.scss */
.align-right {
  text-align: right;
}

/* line 340, /Users/ms/Documents/Projects/Personal Portfolio/5 Dev/sass/main.scss */
.align-center {
  text-align: center;
}

/*----------
MEDIA QUERIES
----------*/
@media screen and (max-width: 1200px) {
  /* line 349, /Users/ms/Documents/Projects/Personal Portfolio/5 Dev/sass/main.scss */
  h1, h2 {
    font-size: 36px;
    line-height: 54px;
  }
  /* line 352, /Users/ms/Documents/Projects/Personal Portfolio/5 Dev/sass/main.scss */
  h1 .minion, h2 .minion {
    font-size: 40px;
  }
  /* line 357, /Users/ms/Documents/Projects/Personal Portfolio/5 Dev/sass/main.scss */
  #frontpage #info {
    display: block;
    width: 80%;
    margin: 40px auto auto auto;
  }
  /* line 361, /Users/ms/Documents/Projects/Personal Portfolio/5 Dev/sass/main.scss */
  #frontpage #info .align-right {
    margin-top: 20px;
  }
  /* line 365, /Users/ms/Documents/Projects/Personal Portfolio/5 Dev/sass/main.scss */
  #frontpage #cases {
    display: block;
    width: 80%;
    margin: 80px auto auto auto;
  }
  /* line 369, /Users/ms/Documents/Projects/Personal Portfolio/5 Dev/sass/main.scss */
  #frontpage #cases .greatworks {
    padding-right: 0px;
  }
  /* line 372, /Users/ms/Documents/Projects/Personal Portfolio/5 Dev/sass/main.scss */
  #frontpage #cases .bullogram {
    padding-right: 0px;
  }
  /* line 375, /Users/ms/Documents/Projects/Personal Portfolio/5 Dev/sass/main.scss */
  #frontpage #cases .yousee {
    padding-left: 0px;
  }
  /* line 378, /Users/ms/Documents/Projects/Personal Portfolio/5 Dev/sass/main.scss */
  #frontpage #cases .personalfinance {
    padding-left: 0px;
  }
  /* line 381, /Users/ms/Documents/Projects/Personal Portfolio/5 Dev/sass/main.scss */
  #frontpage #cases img + p {
    margin-top: 10px;
    margin-bottom: 80px;
  }
  /* line 387, /Users/ms/Documents/Projects/Personal Portfolio/5 Dev/sass/main.scss */
  #info, #cases, .content, .bg-two-screens, .bg-three-screens, .bg-four-screens {
    display: block;
  }
  /* line 390, /Users/ms/Documents/Projects/Personal Portfolio/5 Dev/sass/main.scss */
  .bg-one-screen, .bg-three-screens, .picture {
    width: 100%;
  }
  /* line 393, /Users/ms/Documents/Projects/Personal Portfolio/5 Dev/sass/main.scss */
  .bg-one-screen, .bg-two-screens, .bg-three-screens, .bg-four-screens {
    padding: 40px;
  }
  /* line 395, /Users/ms/Documents/Projects/Personal Portfolio/5 Dev/sass/main.scss */
  .bg-one-screen img, .bg-two-screens img, .bg-three-screens img, .bg-four-screens img {
    padding-top: 20px;
    padding-bottom: 20px;
  }
  /* line 400, /Users/ms/Documents/Projects/Personal Portfolio/5 Dev/sass/main.scss */
  #back-button, #info, .intro, .content {
    width: 80%;
  }
  /* line 403, /Users/ms/Documents/Projects/Personal Portfolio/5 Dev/sass/main.scss */
  #back-button, #info {
    margin-top: 40px;
  }
  /* line 406, /Users/ms/Documents/Projects/Personal Portfolio/5 Dev/sass/main.scss */
  .top160 {
    margin-top: 80px;
  }
  /* line 409, /Users/ms/Documents/Projects/Personal Portfolio/5 Dev/sass/main.scss */
  .top80 {
    margin-top: 60px;
  }
  /* line 412, /Users/ms/Documents/Projects/Personal Portfolio/5 Dev/sass/main.scss */
  .bottom160 {
    margin-bottom: 80px;
  }
  /* line 416, /Users/ms/Documents/Projects/Personal Portfolio/5 Dev/sass/main.scss */
  .content .align-right {
    margin-bottom: 40px;
  }
  /* line 420, /Users/ms/Documents/Projects/Personal Portfolio/5 Dev/sass/main.scss */
  .align-right {
    text-align: left;
  }
  /* line 423, /Users/ms/Documents/Projects/Personal Portfolio/5 Dev/sass/main.scss */
  .align-center {
    text-align: left;
  }
}

/*# sourceMappingURL=../css/main.map */