/*----------
SETTINGS
----------*/
@import "https://cdnjs.cloudflare.com/ajax/libs/meyer-reset/2.0/reset.min.css";
@font-face {
  font-family: 'Aktiv Grotesk Light';
  src: url("../fonts/subset-AktivGrotesk-Light.woff2") format("woff2"), url("../fonts/subset-AktivGrotesk-Light.woff") format("woff");
  font-weight: 300;
  font-style: normal;
}

@font-face {
  font-family: 'Aktiv Grotesk';
  src: url("../fonts/subset-AktivGrotesk-Regular.woff2") format("woff2"), url("../fonts/subset-AktivGrotesk-Regular.woff") format("woff");
  font-weight: normal;
  font-style: normal;
}

@font-face {
  font-family: 'Minion Pro';
  src: url("../fonts/subset-MinionPro-Regular.woff2") format("woff2"), url("../fonts/subset-MinionPro-Regular.woff") format("woff");
  font-weight: normal;
  font-style: normal;
}

@font-face {
  font-family: 'Minion Pro Italic';
  src: url("../fonts/subset-MinionPro-It.woff2") format("woff2"), url("../fonts/subset-MinionPro-It.woff") format("woff");
  font-weight: normal;
  font-style: italic;
}

/*----------
VARIABLES
----------*/
/*fonts*/
/*further*/
/*greatworks*/
/*personalfinance*/
/*bullogram*/
/*yousee*/
/*animations*/
/*----------
GENERAL
----------*/
/* line 81, /Users/ms/Documents/Projects/Personal Portfolio/Portfolio/portfolio/sass/main.scss */
* {
  box-sizing: border-box;
}

/* line 84, /Users/ms/Documents/Projects/Personal Portfolio/Portfolio/portfolio/sass/main.scss */
body {
  transition: all 0.25s ease;
}

/* line 87, /Users/ms/Documents/Projects/Personal Portfolio/Portfolio/portfolio/sass/main.scss */
h1, h2, h3 {
  font-family: "Aktiv Grotesk Light", Arial;
}

/* line 90, /Users/ms/Documents/Projects/Personal Portfolio/Portfolio/portfolio/sass/main.scss */
h2 a {
  font-family: "Aktiv Grotesk Light", Arial;
}

/* line 93, /Users/ms/Documents/Projects/Personal Portfolio/Portfolio/portfolio/sass/main.scss */
a, p {
  font-family: "Aktiv Grotesk", Arial;
}

/* line 96, /Users/ms/Documents/Projects/Personal Portfolio/Portfolio/portfolio/sass/main.scss */
h1, h2 {
  color: white;
  font-size: 64px;
  line-height: 84px;
}

/* line 100, /Users/ms/Documents/Projects/Personal Portfolio/Portfolio/portfolio/sass/main.scss */
h1 .minion, h2 .minion {
  font-size: 74px;
}

/* line 104, /Users/ms/Documents/Projects/Personal Portfolio/Portfolio/portfolio/sass/main.scss */
h3 {
  margin-top: 20px;
  color: white;
  font-size: 32px;
  line-height: 46px;
}

/* line 110, /Users/ms/Documents/Projects/Personal Portfolio/Portfolio/portfolio/sass/main.scss */
a {
  text-decoration: none;
}

/* line 113, /Users/ms/Documents/Projects/Personal Portfolio/Portfolio/portfolio/sass/main.scss */
p {
  font-size: 18px;
  line-height: 32px;
}

/* line 117, /Users/ms/Documents/Projects/Personal Portfolio/Portfolio/portfolio/sass/main.scss */
img {
  max-width: 100%;
}

/* line 120, /Users/ms/Documents/Projects/Personal Portfolio/Portfolio/portfolio/sass/main.scss */
video {
  width: 100%;
}

/* line 123, /Users/ms/Documents/Projects/Personal Portfolio/Portfolio/portfolio/sass/main.scss */
.line {
  display: inline-block;
  position: relative;
  margin: auto 10px;
  bottom: 5px;
  width: 20px;
  height: 1px;
  background: grey;
}

/*----------
LAYOUT
----------*/
/* line 137, /Users/ms/Documents/Projects/Personal Portfolio/Portfolio/portfolio/sass/main.scss */
.separator {
  width: 100%;
  height: 1px;
  background: black;
  opacity: .1;
}

/* line 143, /Users/ms/Documents/Projects/Personal Portfolio/Portfolio/portfolio/sass/main.scss */
.separator-light {
  width: 100%;
  height: 1px;
  background: white;
  opacity: .3;
}

/* line 149, /Users/ms/Documents/Projects/Personal Portfolio/Portfolio/portfolio/sass/main.scss */
.header {
  margin: 160px auto auto auto;
}

/* line 151, /Users/ms/Documents/Projects/Personal Portfolio/Portfolio/portfolio/sass/main.scss */
.header h1 + p {
  margin-top: 80px;
}

/* line 155, /Users/ms/Documents/Projects/Personal Portfolio/Portfolio/portfolio/sass/main.scss */
.info {
  margin: 40px 80px auto 80px;
}

/* line 158, /Users/ms/Documents/Projects/Personal Portfolio/Portfolio/portfolio/sass/main.scss */
.lg, .bg-four-screens {
  width: 100%;
}

/* line 161, /Users/ms/Documents/Projects/Personal Portfolio/Portfolio/portfolio/sass/main.scss */
.content, .header {
  padding: 0px 80px;
}

/* line 164, /Users/ms/Documents/Projects/Personal Portfolio/Portfolio/portfolio/sass/main.scss */
.bg-one-screen, .bg-two-screens, .bg-three-screens, .bg-four-screens {
  padding: 80px;
}

/* line 167, /Users/ms/Documents/Projects/Personal Portfolio/Portfolio/portfolio/sass/main.scss */
.info, #cases, .apropos, .content, .header, .bg-two-screens, .bg-three-screens, .bg-four-screens {
  display: grid;
}

/* line 170, /Users/ms/Documents/Projects/Personal Portfolio/Portfolio/portfolio/sass/main.scss */
.content, .header, .apropos, .bg-two-screens, .bg-three-screens, .bg-four-screens {
  grid-column-gap: 80px;
}

/* line 173, /Users/ms/Documents/Projects/Personal Portfolio/Portfolio/portfolio/sass/main.scss */
#cases, .intro, .apropos, .content, .header, .bg-one-screen, .bg-three-screens, .picture {
  width: 1200px;
}

/* line 176, /Users/ms/Documents/Projects/Personal Portfolio/Portfolio/portfolio/sass/main.scss */
.intro, .content, .apropos, .bg-one-screen, .bg-three-screens, .picture {
  margin: auto;
}

/* line 179, /Users/ms/Documents/Projects/Personal Portfolio/Portfolio/portfolio/sass/main.scss */
.content, .header, .apropos {
  grid-template: auto / 1fr 3fr;
}

/* line 182, /Users/ms/Documents/Projects/Personal Portfolio/Portfolio/portfolio/sass/main.scss */
.info, #cases, .bg-two-screens {
  grid-template: auto/repeat(2, 1fr);
}

/* line 185, /Users/ms/Documents/Projects/Personal Portfolio/Portfolio/portfolio/sass/main.scss */
.bg-three-screens {
  grid-template: auto/repeat(3, 1fr);
}

/* line 188, /Users/ms/Documents/Projects/Personal Portfolio/Portfolio/portfolio/sass/main.scss */
.bg-four-screens {
  grid-template: auto/repeat(4, 1fr);
}

/* line 191, /Users/ms/Documents/Projects/Personal Portfolio/Portfolio/portfolio/sass/main.scss */
#back-button {
  margin: 80px auto auto 80px;
}

/* line 193, /Users/ms/Documents/Projects/Personal Portfolio/Portfolio/portfolio/sass/main.scss */
#back-button a {
  font-size: 18px;
}

/* line 195, /Users/ms/Documents/Projects/Personal Portfolio/Portfolio/portfolio/sass/main.scss */
#back-button a img {
  position: relative;
  top: 5px;
  margin-right: 10px;
}

/*----------
TWEAKS
----------*/
/*fonts*/
/* line 208, /Users/ms/Documents/Projects/Personal Portfolio/Portfolio/portfolio/sass/main.scss */
.minion {
  font-family: "Minion Pro Italic", serif;
  font-style: italic;
}

/*margins*/
/* line 214, /Users/ms/Documents/Projects/Personal Portfolio/Portfolio/portfolio/sass/main.scss */
.bottom160 {
  margin-bottom: 160px;
}

/* line 217, /Users/ms/Documents/Projects/Personal Portfolio/Portfolio/portfolio/sass/main.scss */
.bottom80 {
  margin-bottom: 80px;
}

/* line 220, /Users/ms/Documents/Projects/Personal Portfolio/Portfolio/portfolio/sass/main.scss */
.top160 {
  margin-top: 160px;
}

/* line 223, /Users/ms/Documents/Projects/Personal Portfolio/Portfolio/portfolio/sass/main.scss */
.top80 {
  margin-top: 80px;
}

/* line 226, /Users/ms/Documents/Projects/Personal Portfolio/Portfolio/portfolio/sass/main.scss */
.top15 {
  margin-top: 15px;
}

/* line 229, /Users/ms/Documents/Projects/Personal Portfolio/Portfolio/portfolio/sass/main.scss */
.top8 {
  margin-top: 8px;
}

/*align*/
/* line 234, /Users/ms/Documents/Projects/Personal Portfolio/Portfolio/portfolio/sass/main.scss */
.align-right {
  text-align: right;
}

/* line 237, /Users/ms/Documents/Projects/Personal Portfolio/Portfolio/portfolio/sass/main.scss */
.align-center {
  text-align: center;
}

/*----------
THEMES
----------*/
/*frontpage*/
/* line 246, /Users/ms/Documents/Projects/Personal Portfolio/Portfolio/portfolio/sass/main.scss */
#frontpage {
  background: black;
}

/* line 248, /Users/ms/Documents/Projects/Personal Portfolio/Portfolio/portfolio/sass/main.scss */
#frontpage h1 {
  color: white;
}

/* line 251, /Users/ms/Documents/Projects/Personal Portfolio/Portfolio/portfolio/sass/main.scss */
#frontpage a, #frontpage p {
  color: #7E7E7E;
}

/* line 254, /Users/ms/Documents/Projects/Personal Portfolio/Portfolio/portfolio/sass/main.scss */
#frontpage .apropos + .info {
  display: none;
}

/* line 257, /Users/ms/Documents/Projects/Personal Portfolio/Portfolio/portfolio/sass/main.scss */
#frontpage #cases {
  margin: 160px auto auto auto;
}

/* line 259, /Users/ms/Documents/Projects/Personal Portfolio/Portfolio/portfolio/sass/main.scss */
#frontpage #cases .greatworks {
  padding-right: 240px;
}

/* line 262, /Users/ms/Documents/Projects/Personal Portfolio/Portfolio/portfolio/sass/main.scss */
#frontpage #cases .bullogram {
  padding-right: 80px;
}

/* line 265, /Users/ms/Documents/Projects/Personal Portfolio/Portfolio/portfolio/sass/main.scss */
#frontpage #cases .yousee {
  padding-left: 160px;
}

/* line 268, /Users/ms/Documents/Projects/Personal Portfolio/Portfolio/portfolio/sass/main.scss */
#frontpage #cases .personalfinance {
  padding-left: 160px;
}

/* line 271, /Users/ms/Documents/Projects/Personal Portfolio/Portfolio/portfolio/sass/main.scss */
#frontpage #cases img + p, #frontpage #cases img + p + p {
  margin-top: 20px;
}

/*further*/
/* line 278, /Users/ms/Documents/Projects/Personal Portfolio/Portfolio/portfolio/sass/main.scss */
#further {
  background: #406E68;
}

/* line 280, /Users/ms/Documents/Projects/Personal Portfolio/Portfolio/portfolio/sass/main.scss */
#further h1 {
  color: white;
}

/* line 283, /Users/ms/Documents/Projects/Personal Portfolio/Portfolio/portfolio/sass/main.scss */
#further .header .align-right p, #further #back-button a, #further h1 + p {
  color: white;
  opacity: .6;
}

/* line 287, /Users/ms/Documents/Projects/Personal Portfolio/Portfolio/portfolio/sass/main.scss */
#further p, #further a, #further h2 a {
  color: #999999;
}

/*greatworks*/
/* line 293, /Users/ms/Documents/Projects/Personal Portfolio/Portfolio/portfolio/sass/main.scss */
#greatworks {
  background: #45484B;
}

/* line 295, /Users/ms/Documents/Projects/Personal Portfolio/Portfolio/portfolio/sass/main.scss */
#greatworks h1 {
  color: white;
}

/* line 298, /Users/ms/Documents/Projects/Personal Portfolio/Portfolio/portfolio/sass/main.scss */
#greatworks .header .align-right p, #greatworks #back-button a, #greatworks h1 + p {
  color: white;
  opacity: .6;
}

/* line 302, /Users/ms/Documents/Projects/Personal Portfolio/Portfolio/portfolio/sass/main.scss */
#greatworks p, #greatworks a, #greatworks h2 a {
  color: #999999;
}

/* line 305, /Users/ms/Documents/Projects/Personal Portfolio/Portfolio/portfolio/sass/main.scss */
#greatworks .lg, #greatworks .bg-one-screen, #greatworks .bg-two-screens {
  background: #f7f7f7;
}

/* line 309, /Users/ms/Documents/Projects/Personal Portfolio/Portfolio/portfolio/sass/main.scss */
#greatworks .lg img, #greatworks .lg video, #greatworks .bg-one-screen img, #greatworks .bg-one-screen video, #greatworks .bg-two-screens img, #greatworks .bg-two-screens video {
  filter: drop-shadow(8px 8px 16px #DFE2E6);
}

/*personalfinance*/
/* line 316, /Users/ms/Documents/Projects/Personal Portfolio/Portfolio/portfolio/sass/main.scss */
#personalfinance {
  background: #F03C64;
}

/* line 318, /Users/ms/Documents/Projects/Personal Portfolio/Portfolio/portfolio/sass/main.scss */
#personalfinance h1 {
  color: white;
}

/* line 321, /Users/ms/Documents/Projects/Personal Portfolio/Portfolio/portfolio/sass/main.scss */
#personalfinance .header .align-right p, #personalfinance #back-button a, #personalfinance h1 + p {
  color: white;
  opacity: .8;
}

/* line 325, /Users/ms/Documents/Projects/Personal Portfolio/Portfolio/portfolio/sass/main.scss */
#personalfinance p, #personalfinance a, #personalfinance h2 a {
  color: #999999;
}

/* line 328, /Users/ms/Documents/Projects/Personal Portfolio/Portfolio/portfolio/sass/main.scss */
#personalfinance .bg-four-screens {
  background: #FEF7FF;
}

/*bullogram*/
/* line 334, /Users/ms/Documents/Projects/Personal Portfolio/Portfolio/portfolio/sass/main.scss */
#bullogram {
  background: #F17397;
}

/* line 336, /Users/ms/Documents/Projects/Personal Portfolio/Portfolio/portfolio/sass/main.scss */
#bullogram h1 {
  color: white;
}

/* line 339, /Users/ms/Documents/Projects/Personal Portfolio/Portfolio/portfolio/sass/main.scss */
#bullogram .header .align-right p, #bullogram #back-button a, #bullogram h1 + p {
  color: white;
  opacity: .8;
}

/* line 343, /Users/ms/Documents/Projects/Personal Portfolio/Portfolio/portfolio/sass/main.scss */
#bullogram p, #bullogram a, #bullogram h2 a {
  color: #999999;
}

/* line 346, /Users/ms/Documents/Projects/Personal Portfolio/Portfolio/portfolio/sass/main.scss */
#bullogram .lg, #bullogram .bg-one-screen, #bullogram .bg-two-screens {
  background: rgba(251, 115, 151, 0.1);
}

/* line 348, /Users/ms/Documents/Projects/Personal Portfolio/Portfolio/portfolio/sass/main.scss */
#bullogram .lg img, #bullogram .bg-one-screen img, #bullogram .bg-two-screens img {
  filter: drop-shadow(8px 8px 16px #E6DFE1);
}

/*yousee*/
/* line 355, /Users/ms/Documents/Projects/Personal Portfolio/Portfolio/portfolio/sass/main.scss */
#yousee {
  background: #50CC5C;
}

/* line 357, /Users/ms/Documents/Projects/Personal Portfolio/Portfolio/portfolio/sass/main.scss */
#yousee h1 {
  color: white;
}

/* line 360, /Users/ms/Documents/Projects/Personal Portfolio/Portfolio/portfolio/sass/main.scss */
#yousee .header .align-right p, #yousee #back-button a, #yousee h1 + p {
  color: white;
  opacity: .8;
}

/* line 364, /Users/ms/Documents/Projects/Personal Portfolio/Portfolio/portfolio/sass/main.scss */
#yousee p, #yousee a, #yousee h2 a {
  color: #999999;
}

/* line 367, /Users/ms/Documents/Projects/Personal Portfolio/Portfolio/portfolio/sass/main.scss */
#yousee .bg-one-screen {
  background: rgba(255, 255, 255, 0.1);
}

/* line 370, /Users/ms/Documents/Projects/Personal Portfolio/Portfolio/portfolio/sass/main.scss */
#yousee .lg, #yousee .bg-two-screens {
  background: rgba(80, 204, 92, 0.1);
}

/* line 374, /Users/ms/Documents/Projects/Personal Portfolio/Portfolio/portfolio/sass/main.scss */
#yousee .bg-one-screen img, #yousee .bg-one-screen video, #yousee .bg-two-screens img, #yousee .bg-two-screens video, #yousee .bg-three-screens img, #yousee .bg-three-screens video {
  filter: drop-shadow(8px 8px 16px #DFE6DF);
}

/*----------
ANIMATIONS
----------*/
/* line 384, /Users/ms/Documents/Projects/Personal Portfolio/Portfolio/portfolio/sass/main.scss */
.loader {
  position: fixed;
  left: 0;
  top: 0;
  width: 100%;
  height: 100%;
  z-index: 110;
  background: url("../assets/loader.gif") 50% 50% no-repeat black;
}

/* line 393, /Users/ms/Documents/Projects/Personal Portfolio/Portfolio/portfolio/sass/main.scss */
.link-to-case {
  display: none;
}

/* line 396, /Users/ms/Documents/Projects/Personal Portfolio/Portfolio/portfolio/sass/main.scss */
a {
  transition: all 0.25s ease;
}

/* line 398, /Users/ms/Documents/Projects/Personal Portfolio/Portfolio/portfolio/sass/main.scss */
a img {
  transition: all 0.25s ease;
}

/* line 403, /Users/ms/Documents/Projects/Personal Portfolio/Portfolio/portfolio/sass/main.scss */
a:hover img {
  opacity: 0.6;
}

/* line 406, /Users/ms/Documents/Projects/Personal Portfolio/Portfolio/portfolio/sass/main.scss */
a:hover .link-to-case {
  color: white !important;
  display: block;
}

/* line 410, /Users/ms/Documents/Projects/Personal Portfolio/Portfolio/portfolio/sass/main.scss */
a:hover .link-to-case + p {
  display: none;
}

/* line 414, /Users/ms/Documents/Projects/Personal Portfolio/Portfolio/portfolio/sass/main.scss */
#further .content a:hover {
  color: #45484B;
}

/* line 417, /Users/ms/Documents/Projects/Personal Portfolio/Portfolio/portfolio/sass/main.scss */
#greatworks .content a:hover {
  color: #F03C64;
}

/* line 420, /Users/ms/Documents/Projects/Personal Portfolio/Portfolio/portfolio/sass/main.scss */
#personalfinance .content a:hover {
  color: #F17397;
}

/* line 423, /Users/ms/Documents/Projects/Personal Portfolio/Portfolio/portfolio/sass/main.scss */
#bullogram .content a:hover {
  color: #50CC5C;
}

/* line 426, /Users/ms/Documents/Projects/Personal Portfolio/Portfolio/portfolio/sass/main.scss */
#yousee .content a:hover {
  color: #406E68;
}

/* line 429, /Users/ms/Documents/Projects/Personal Portfolio/Portfolio/portfolio/sass/main.scss */
#frontpage .info a:hover {
  color: white;
}

/* line 432, /Users/ms/Documents/Projects/Personal Portfolio/Portfolio/portfolio/sass/main.scss */
#further .info a:hover,
#greatworks .info a:hover,
#personalfinance .info a:hover,
#bullogram .info a:hover,
#yousee .info a:hover {
  color: #666666;
}

/*----------
MEDIA QUERIES
----------*/
/*tablet*/
@media screen and (max-width: 1200px) {
  /* line 446, /Users/ms/Documents/Projects/Personal Portfolio/Portfolio/portfolio/sass/main.scss */
  h1, h2 {
    font-size: 40px;
    line-height: 54px;
  }
  /* line 449, /Users/ms/Documents/Projects/Personal Portfolio/Portfolio/portfolio/sass/main.scss */
  h1 .minion, h2 .minion {
    font-size: 46px;
  }
  /* line 453, /Users/ms/Documents/Projects/Personal Portfolio/Portfolio/portfolio/sass/main.scss */
  h3 {
    font-size: 28px;
    line-height: 40px;
  }
  /* line 457, /Users/ms/Documents/Projects/Personal Portfolio/Portfolio/portfolio/sass/main.scss */
  p {
    font-size: 16px;
    line-height: 28px;
  }
  /* line 462, /Users/ms/Documents/Projects/Personal Portfolio/Portfolio/portfolio/sass/main.scss */
  #back-button a {
    font-size: 16px;
  }
  /* line 464, /Users/ms/Documents/Projects/Personal Portfolio/Portfolio/portfolio/sass/main.scss */
  #back-button a img {
    height: 20px;
    top: 4px;
  }
  /* line 470, /Users/ms/Documents/Projects/Personal Portfolio/Portfolio/portfolio/sass/main.scss */
  .info, #back-button, .content, .header, .bg-three-screens {
    width: 90%;
  }
  /* line 473, /Users/ms/Documents/Projects/Personal Portfolio/Portfolio/portfolio/sass/main.scss */
  #cases, .intro, .apropos, .bg-one-screen, .bg-two-screens, .bg-four-screens, .picture {
    width: 100%;
  }
  /* line 476, /Users/ms/Documents/Projects/Personal Portfolio/Portfolio/portfolio/sass/main.scss */
  #cases, .intro, .apropos, .bg-one-screen, .bg-two-screens, .bg-four-screens {
    padding: 5%;
  }
  /* line 479, /Users/ms/Documents/Projects/Personal Portfolio/Portfolio/portfolio/sass/main.scss */
  .info, #back-button {
    margin: 40px 5% 120px 5%;
  }
  /* line 482, /Users/ms/Documents/Projects/Personal Portfolio/Portfolio/portfolio/sass/main.scss */
  #back-button + .content h1 + p {
    margin-top: 40px;
  }
  /* line 485, /Users/ms/Documents/Projects/Personal Portfolio/Portfolio/portfolio/sass/main.scss */
  .content, .header {
    padding: 0px 80px;
  }
  /* line 487, /Users/ms/Documents/Projects/Personal Portfolio/Portfolio/portfolio/sass/main.scss */
  .content .align-right, .header .align-right {
    margin-top: 8px;
  }
  /* line 491, /Users/ms/Documents/Projects/Personal Portfolio/Portfolio/portfolio/sass/main.scss */
  .bg-three-screens {
    padding: 0px;
    grid-column-gap: 5%;
  }
  /* line 495, /Users/ms/Documents/Projects/Personal Portfolio/Portfolio/portfolio/sass/main.scss */
  .content, .header, .apropos, .bg-two-screens, .bg-four-screens {
    grid-column-gap: 5%;
  }
  /* line 498, /Users/ms/Documents/Projects/Personal Portfolio/Portfolio/portfolio/sass/main.scss */
  .content, .header, .apropos {
    grid-template: auto / 1fr 4fr;
  }
  /* line 501, /Users/ms/Documents/Projects/Personal Portfolio/Portfolio/portfolio/sass/main.scss */
  .top160 {
    margin-top: 80px;
  }
  /* line 504, /Users/ms/Documents/Projects/Personal Portfolio/Portfolio/portfolio/sass/main.scss */
  .bottom160 {
    margin-bottom: 80px;
  }
  /* line 507, /Users/ms/Documents/Projects/Personal Portfolio/Portfolio/portfolio/sass/main.scss */
  #frontpage #cases {
    grid-column-gap: 20%;
    margin: 160px auto auto auto;
  }
  /* line 510, /Users/ms/Documents/Projects/Personal Portfolio/Portfolio/portfolio/sass/main.scss */
  #frontpage #cases .greatworks, #frontpage #cases .bullogram, #frontpage #cases .yousee, #frontpage #cases .personalfinance {
    padding-right: 0px;
    padding-left: 0px;
  }
}

/*phone*/
@media screen and (max-width: 667px) {
  /* line 519, /Users/ms/Documents/Projects/Personal Portfolio/Portfolio/portfolio/sass/main.scss */
  h1, h2 {
    font-size: 32px;
    line-height: 44px;
  }
  /* line 522, /Users/ms/Documents/Projects/Personal Portfolio/Portfolio/portfolio/sass/main.scss */
  h1 .minion, h2 .minion {
    font-size: 38px;
  }
  /* line 526, /Users/ms/Documents/Projects/Personal Portfolio/Portfolio/portfolio/sass/main.scss */
  h3 {
    font-size: 24px;
    line-height: 36px;
  }
  /* line 530, /Users/ms/Documents/Projects/Personal Portfolio/Portfolio/portfolio/sass/main.scss */
  #frontpage #cases {
    padding: 10%;
    margin: 80px auto auto auto;
  }
  /* line 533, /Users/ms/Documents/Projects/Personal Portfolio/Portfolio/portfolio/sass/main.scss */
  #frontpage #cases .greatworks, #frontpage #cases .bullogram, #frontpage #cases .yousee, #frontpage #cases .personalfinance {
    padding-right: 0px;
    padding-left: 0px;
  }
  /* line 537, /Users/ms/Documents/Projects/Personal Portfolio/Portfolio/portfolio/sass/main.scss */
  #frontpage #cases img + p, #frontpage #cases img + p + p {
    margin-top: 10px;
    margin-bottom: 80px;
  }
  /* line 542, /Users/ms/Documents/Projects/Personal Portfolio/Portfolio/portfolio/sass/main.scss */
  .intro, .apropos, .header, .content, .bg-one-screen, .bg-two-screens, .bg-three-screens, .bg-four-screens, .picture {
    width: 100%;
    padding: 10%;
  }
  /* line 546, /Users/ms/Documents/Projects/Personal Portfolio/Portfolio/portfolio/sass/main.scss */
  .info, #back-button {
    margin: 40px 10% 60px 10%;
  }
  /* line 549, /Users/ms/Documents/Projects/Personal Portfolio/Portfolio/portfolio/sass/main.scss */
  .header {
    margin: 40px auto;
  }
  /* line 551, /Users/ms/Documents/Projects/Personal Portfolio/Portfolio/portfolio/sass/main.scss */
  .header h1 + p {
    margin-top: 40px;
  }
  /* line 556, /Users/ms/Documents/Projects/Personal Portfolio/Portfolio/portfolio/sass/main.scss */
  .bg-one-screen img, .bg-two-screens img, .bg-three-screens img, .bg-four-screens img {
    margin: 20px auto;
  }
  /* line 560, /Users/ms/Documents/Projects/Personal Portfolio/Portfolio/portfolio/sass/main.scss */
  .info, #cases, .content, .header, .apropos, .bg-two-screens, .bg-three-screens, .bg-four-screens {
    display: block;
  }
  /* line 563, /Users/ms/Documents/Projects/Personal Portfolio/Portfolio/portfolio/sass/main.scss */
  .info {
    margin-top: 40px;
  }
  /* line 566, /Users/ms/Documents/Projects/Personal Portfolio/Portfolio/portfolio/sass/main.scss */
  .top80 {
    margin-top: 20px;
  }
  /* line 569, /Users/ms/Documents/Projects/Personal Portfolio/Portfolio/portfolio/sass/main.scss */
  .top8 {
    margin-bottom: 20px;
  }
  /* line 573, /Users/ms/Documents/Projects/Personal Portfolio/Portfolio/portfolio/sass/main.scss */
  .content .align-right, .header .align-right {
    margin-bottom: 40px;
  }
  /* line 577, /Users/ms/Documents/Projects/Personal Portfolio/Portfolio/portfolio/sass/main.scss */
  .align-right {
    text-align: left;
  }
  /* line 580, /Users/ms/Documents/Projects/Personal Portfolio/Portfolio/portfolio/sass/main.scss */
  .align-center {
    text-align: left;
  }
  /* line 583, /Users/ms/Documents/Projects/Personal Portfolio/Portfolio/portfolio/sass/main.scss */
  .apropos div:nth-child(2) p {
    margin-top: 20px;
  }
}

/*# sourceMappingURL=../css/main.map */