/*----------
SETTINGS
----------*/
@import "https://cdnjs.cloudflare.com/ajax/libs/meyer-reset/2.0/reset.min.css";
@font-face {
  font-family: 'Aktiv Grotesk Light';
  src: url("../fonts/subset-AktivGrotesk-Light.woff2") format("woff2"), url("../fonts/subset-AktivGrotesk-Light.woff") format("woff");
  font-weight: 300;
  font-style: normal;
}

@font-face {
  font-family: 'Aktiv Grotesk';
  src: url("../fonts/subset-AktivGrotesk-Regular.woff2") format("woff2"), url("../fonts/subset-AktivGrotesk-Regular.woff") format("woff");
  font-weight: normal;
  font-style: normal;
}

@font-face {
  font-family: 'Minion Pro';
  src: url("../fonts/subset-MinionPro-Regular.woff2") format("woff2"), url("../fonts/subset-MinionPro-Regular.woff") format("woff");
  font-weight: normal;
  font-style: normal;
}

@font-face {
  font-family: 'Minion Pro Italic';
  src: url("../fonts/subset-MinionPro-It.woff2") format("woff2"), url("../fonts/subset-MinionPro-It.woff") format("woff");
  font-weight: normal;
  font-style: italic;
}

/*----------
VARIABLES
----------*/
/*fonts*/
/*further*/
/*greatworks*/
/*personalfinance*/
/*bullogram*/
/*yousee*/
/*animations*/
/*----------
GENERAL
----------*/
/* line 81, /Users/ms/Documents/Projects/Personal Portfolio/Portfolio/portfolio/sass/main.scss */
* {
  box-sizing: border-box;
}

/* line 84, /Users/ms/Documents/Projects/Personal Portfolio/Portfolio/portfolio/sass/main.scss */
body {
  transition: all 0.25s ease;
}

/* line 87, /Users/ms/Documents/Projects/Personal Portfolio/Portfolio/portfolio/sass/main.scss */
h1, h2, h3 {
  font-family: "Aktiv Grotesk Light", Arial;
}

/* line 90, /Users/ms/Documents/Projects/Personal Portfolio/Portfolio/portfolio/sass/main.scss */
h2 a {
  font-family: "Aktiv Grotesk Light", Arial;
}

/* line 93, /Users/ms/Documents/Projects/Personal Portfolio/Portfolio/portfolio/sass/main.scss */
a, p {
  font-family: "Aktiv Grotesk", Arial;
}

/* line 96, /Users/ms/Documents/Projects/Personal Portfolio/Portfolio/portfolio/sass/main.scss */
h1, h2 {
  color: white;
  font-size: 64px;
  line-height: 84px;
}

/* line 100, /Users/ms/Documents/Projects/Personal Portfolio/Portfolio/portfolio/sass/main.scss */
h1 .minion, h2 .minion {
  font-size: 74px;
}

/* line 104, /Users/ms/Documents/Projects/Personal Portfolio/Portfolio/portfolio/sass/main.scss */
h3 {
  color: white;
  font-size: 36px;
  line-height: 48px;
}

/* line 109, /Users/ms/Documents/Projects/Personal Portfolio/Portfolio/portfolio/sass/main.scss */
a {
  text-decoration: none;
}

/* line 112, /Users/ms/Documents/Projects/Personal Portfolio/Portfolio/portfolio/sass/main.scss */
p {
  font-size: 18px;
  line-height: 32px;
}

/* line 116, /Users/ms/Documents/Projects/Personal Portfolio/Portfolio/portfolio/sass/main.scss */
img {
  max-width: 100%;
}

/* line 119, /Users/ms/Documents/Projects/Personal Portfolio/Portfolio/portfolio/sass/main.scss */
video {
  width: 100%;
}

/* line 122, /Users/ms/Documents/Projects/Personal Portfolio/Portfolio/portfolio/sass/main.scss */
.line {
  display: inline-block;
  position: relative;
  margin: auto 10px;
  bottom: 5px;
  width: 20px;
  height: 1px;
  background: grey;
}

/*----------
LAYOUT
----------*/
/* line 136, /Users/ms/Documents/Projects/Personal Portfolio/Portfolio/portfolio/sass/main.scss */
.header {
  margin: 160px auto auto auto;
}

/* line 138, /Users/ms/Documents/Projects/Personal Portfolio/Portfolio/portfolio/sass/main.scss */
.header h1 + p {
  margin-top: 80px;
}

/* line 142, /Users/ms/Documents/Projects/Personal Portfolio/Portfolio/portfolio/sass/main.scss */
.info {
  margin: 40px 80px 160px 80px;
}

/* line 145, /Users/ms/Documents/Projects/Personal Portfolio/Portfolio/portfolio/sass/main.scss */
.lg, .bg-four-screens {
  width: 100%;
}

/* line 148, /Users/ms/Documents/Projects/Personal Portfolio/Portfolio/portfolio/sass/main.scss */
.content, .header {
  padding: 0px 80px;
}

/* line 151, /Users/ms/Documents/Projects/Personal Portfolio/Portfolio/portfolio/sass/main.scss */
.bg-one-screen, .bg-two-screens, .bg-three-screens, .bg-four-screens {
  padding: 80px;
}

/* line 154, /Users/ms/Documents/Projects/Personal Portfolio/Portfolio/portfolio/sass/main.scss */
.info, #cases, .apropos, .content, .header, .bg-two-screens, .bg-three-screens, .bg-four-screens {
  display: grid;
}

/* line 157, /Users/ms/Documents/Projects/Personal Portfolio/Portfolio/portfolio/sass/main.scss */
.content, .header, .apropos, .bg-two-screens, .bg-three-screens, .bg-four-screens {
  grid-column-gap: 80px;
}

/* line 160, /Users/ms/Documents/Projects/Personal Portfolio/Portfolio/portfolio/sass/main.scss */
#cases, .intro, .apropos, .content, .header, .bg-one-screen, .bg-three-screens, .picture {
  width: 1200px;
}

/* line 163, /Users/ms/Documents/Projects/Personal Portfolio/Portfolio/portfolio/sass/main.scss */
.intro, .content, .apropos, .bg-one-screen, .bg-three-screens, .picture {
  margin: auto;
}

/* line 166, /Users/ms/Documents/Projects/Personal Portfolio/Portfolio/portfolio/sass/main.scss */
.content, .header, .apropos {
  grid-template: auto / 1fr 3fr;
}

/* line 169, /Users/ms/Documents/Projects/Personal Portfolio/Portfolio/portfolio/sass/main.scss */
.info, #cases, .bg-two-screens {
  grid-template: auto/repeat(2, 1fr);
}

/* line 172, /Users/ms/Documents/Projects/Personal Portfolio/Portfolio/portfolio/sass/main.scss */
.bg-three-screens {
  grid-template: auto/repeat(3, 1fr);
}

/* line 175, /Users/ms/Documents/Projects/Personal Portfolio/Portfolio/portfolio/sass/main.scss */
.bg-four-screens {
  grid-template: auto/repeat(4, 1fr);
}

/* line 178, /Users/ms/Documents/Projects/Personal Portfolio/Portfolio/portfolio/sass/main.scss */
#back-button {
  margin: 80px auto auto 80px;
}

/* line 180, /Users/ms/Documents/Projects/Personal Portfolio/Portfolio/portfolio/sass/main.scss */
#back-button a {
  font-size: 18px;
}

/* line 182, /Users/ms/Documents/Projects/Personal Portfolio/Portfolio/portfolio/sass/main.scss */
#back-button a img {
  position: relative;
  top: 5px;
  margin-right: 10px;
}

/*----------
TWEAKS
----------*/
/* line 194, /Users/ms/Documents/Projects/Personal Portfolio/Portfolio/portfolio/sass/main.scss */
.minion {
  font-family: "Minion Pro Italic", serif;
}

/* line 197, /Users/ms/Documents/Projects/Personal Portfolio/Portfolio/portfolio/sass/main.scss */
.bottom160 {
  margin-bottom: 160px;
}

/* line 200, /Users/ms/Documents/Projects/Personal Portfolio/Portfolio/portfolio/sass/main.scss */
.top160 {
  margin-top: 160px;
}

/* line 203, /Users/ms/Documents/Projects/Personal Portfolio/Portfolio/portfolio/sass/main.scss */
.top80 {
  margin-top: 80px;
}

/* line 206, /Users/ms/Documents/Projects/Personal Portfolio/Portfolio/portfolio/sass/main.scss */
.top15 {
  margin-top: 15px;
}

/* line 209, /Users/ms/Documents/Projects/Personal Portfolio/Portfolio/portfolio/sass/main.scss */
.top8 {
  margin-top: 8px;
}

/* line 212, /Users/ms/Documents/Projects/Personal Portfolio/Portfolio/portfolio/sass/main.scss */
.align-right {
  text-align: right;
}

/* line 215, /Users/ms/Documents/Projects/Personal Portfolio/Portfolio/portfolio/sass/main.scss */
.align-center {
  text-align: center;
}

/*----------
THEMES
----------*/
/*frontpage*/
/* line 224, /Users/ms/Documents/Projects/Personal Portfolio/Portfolio/portfolio/sass/main.scss */
#frontpage {
  background: black;
}

/* line 226, /Users/ms/Documents/Projects/Personal Portfolio/Portfolio/portfolio/sass/main.scss */
#frontpage h1 {
  color: white;
}

/* line 229, /Users/ms/Documents/Projects/Personal Portfolio/Portfolio/portfolio/sass/main.scss */
#frontpage a, #frontpage p {
  color: #7E7E7E;
}

/* line 232, /Users/ms/Documents/Projects/Personal Portfolio/Portfolio/portfolio/sass/main.scss */
#frontpage .apropos + .info {
  display: none;
}

/* line 235, /Users/ms/Documents/Projects/Personal Portfolio/Portfolio/portfolio/sass/main.scss */
#frontpage #cases {
  margin: 160px auto auto auto;
}

/* line 237, /Users/ms/Documents/Projects/Personal Portfolio/Portfolio/portfolio/sass/main.scss */
#frontpage #cases .greatworks {
  padding-right: 240px;
}

/* line 240, /Users/ms/Documents/Projects/Personal Portfolio/Portfolio/portfolio/sass/main.scss */
#frontpage #cases .bullogram {
  padding-right: 80px;
}

/* line 243, /Users/ms/Documents/Projects/Personal Portfolio/Portfolio/portfolio/sass/main.scss */
#frontpage #cases .yousee {
  padding-left: 160px;
}

/* line 246, /Users/ms/Documents/Projects/Personal Portfolio/Portfolio/portfolio/sass/main.scss */
#frontpage #cases .personalfinance {
  padding-left: 160px;
}

/* line 249, /Users/ms/Documents/Projects/Personal Portfolio/Portfolio/portfolio/sass/main.scss */
#frontpage #cases img + p, #frontpage #cases img + p + p {
  margin-top: 20px;
}

/*further*/
/* line 256, /Users/ms/Documents/Projects/Personal Portfolio/Portfolio/portfolio/sass/main.scss */
#further {
  background: #406E68;
}

/* line 258, /Users/ms/Documents/Projects/Personal Portfolio/Portfolio/portfolio/sass/main.scss */
#further h1 {
  color: white;
}

/* line 261, /Users/ms/Documents/Projects/Personal Portfolio/Portfolio/portfolio/sass/main.scss */
#further .header .align-right p, #further #back-button a, #further h1 + p {
  color: white;
  opacity: .6;
}

/* line 265, /Users/ms/Documents/Projects/Personal Portfolio/Portfolio/portfolio/sass/main.scss */
#further p, #further a, #further h2 a {
  color: #999999;
}

/*greatworks*/
/* line 271, /Users/ms/Documents/Projects/Personal Portfolio/Portfolio/portfolio/sass/main.scss */
#greatworks {
  background: #45484B;
}

/* line 273, /Users/ms/Documents/Projects/Personal Portfolio/Portfolio/portfolio/sass/main.scss */
#greatworks h1 {
  color: white;
}

/* line 276, /Users/ms/Documents/Projects/Personal Portfolio/Portfolio/portfolio/sass/main.scss */
#greatworks .header .align-right p, #greatworks #back-button a, #greatworks h1 + p {
  color: white;
  opacity: .6;
}

/* line 280, /Users/ms/Documents/Projects/Personal Portfolio/Portfolio/portfolio/sass/main.scss */
#greatworks p, #greatworks a, #greatworks h2 a {
  color: #999999;
}

/* line 283, /Users/ms/Documents/Projects/Personal Portfolio/Portfolio/portfolio/sass/main.scss */
#greatworks .lg, #greatworks .bg-one-screen, #greatworks .bg-two-screens {
  background: #F7FBFF;
}

/* line 287, /Users/ms/Documents/Projects/Personal Portfolio/Portfolio/portfolio/sass/main.scss */
#greatworks .lg img, #greatworks .lg video, #greatworks .bg-one-screen img, #greatworks .bg-one-screen video, #greatworks .bg-two-screens img, #greatworks .bg-two-screens video {
  filter: drop-shadow(8px 8px 16px #DFE2E6);
}

/*personalfinance*/
/* line 294, /Users/ms/Documents/Projects/Personal Portfolio/Portfolio/portfolio/sass/main.scss */
#personalfinance {
  background: #F03C64;
}

/* line 296, /Users/ms/Documents/Projects/Personal Portfolio/Portfolio/portfolio/sass/main.scss */
#personalfinance h1 {
  color: white;
}

/* line 299, /Users/ms/Documents/Projects/Personal Portfolio/Portfolio/portfolio/sass/main.scss */
#personalfinance .header .align-right p, #personalfinance #back-button a, #personalfinance h1 + p {
  color: white;
  opacity: .8;
}

/* line 303, /Users/ms/Documents/Projects/Personal Portfolio/Portfolio/portfolio/sass/main.scss */
#personalfinance p, #personalfinance a, #personalfinance h2 a {
  color: #999999;
}

/* line 306, /Users/ms/Documents/Projects/Personal Portfolio/Portfolio/portfolio/sass/main.scss */
#personalfinance .bg-four-screens {
  background: #FEF7FF;
}

/*bullogram*/
/* line 312, /Users/ms/Documents/Projects/Personal Portfolio/Portfolio/portfolio/sass/main.scss */
#bullogram {
  background: #F17397;
}

/* line 314, /Users/ms/Documents/Projects/Personal Portfolio/Portfolio/portfolio/sass/main.scss */
#bullogram h1 {
  color: white;
}

/* line 317, /Users/ms/Documents/Projects/Personal Portfolio/Portfolio/portfolio/sass/main.scss */
#bullogram .header .align-right p, #bullogram #back-button a, #bullogram h1 + p {
  color: white;
  opacity: .8;
}

/* line 321, /Users/ms/Documents/Projects/Personal Portfolio/Portfolio/portfolio/sass/main.scss */
#bullogram p, #bullogram a, #bullogram h2 a {
  color: #999999;
}

/* line 324, /Users/ms/Documents/Projects/Personal Portfolio/Portfolio/portfolio/sass/main.scss */
#bullogram .lg, #bullogram .bg-one-screen, #bullogram .bg-two-screens {
  background: rgba(251, 115, 151, 0.1);
}

/* line 326, /Users/ms/Documents/Projects/Personal Portfolio/Portfolio/portfolio/sass/main.scss */
#bullogram .lg img, #bullogram .bg-one-screen img, #bullogram .bg-two-screens img {
  filter: drop-shadow(8px 8px 16px #E6DFE1);
}

/*yousee*/
/* line 333, /Users/ms/Documents/Projects/Personal Portfolio/Portfolio/portfolio/sass/main.scss */
#yousee {
  background: #50CC5C;
}

/* line 335, /Users/ms/Documents/Projects/Personal Portfolio/Portfolio/portfolio/sass/main.scss */
#yousee h1 {
  color: white;
}

/* line 338, /Users/ms/Documents/Projects/Personal Portfolio/Portfolio/portfolio/sass/main.scss */
#yousee .header .align-right p, #yousee #back-button a, #yousee h1 + p {
  color: white;
  opacity: .8;
}

/* line 342, /Users/ms/Documents/Projects/Personal Portfolio/Portfolio/portfolio/sass/main.scss */
#yousee p, #yousee a, #yousee h2 a {
  color: #999999;
}

/* line 345, /Users/ms/Documents/Projects/Personal Portfolio/Portfolio/portfolio/sass/main.scss */
#yousee .bg-one-screen {
  background: rgba(255, 255, 255, 0.1);
}

/* line 348, /Users/ms/Documents/Projects/Personal Portfolio/Portfolio/portfolio/sass/main.scss */
#yousee .lg, #yousee .bg-two-screens {
  background: rgba(80, 204, 92, 0.1);
}

/* line 352, /Users/ms/Documents/Projects/Personal Portfolio/Portfolio/portfolio/sass/main.scss */
#yousee .bg-one-screen img, #yousee .bg-one-screen video, #yousee .bg-two-screens img, #yousee .bg-two-screens video, #yousee .bg-three-screens img, #yousee .bg-three-screens video {
  filter: drop-shadow(8px 8px 16px #DFE6DF);
}

/*----------
ANIMATIONS
----------*/
/* line 362, /Users/ms/Documents/Projects/Personal Portfolio/Portfolio/portfolio/sass/main.scss */
.loader {
  position: fixed;
  left: 0;
  top: 0;
  width: 100%;
  height: 100%;
  z-index: 110;
  background: url("../assets/loader.gif") 50% 50% no-repeat black;
}

/* line 371, /Users/ms/Documents/Projects/Personal Portfolio/Portfolio/portfolio/sass/main.scss */
.link-to-case {
  display: none;
}

/* line 374, /Users/ms/Documents/Projects/Personal Portfolio/Portfolio/portfolio/sass/main.scss */
a {
  transition: all 0.25s ease;
}

/* line 376, /Users/ms/Documents/Projects/Personal Portfolio/Portfolio/portfolio/sass/main.scss */
a img {
  transition: all 0.25s ease;
}

/* line 381, /Users/ms/Documents/Projects/Personal Portfolio/Portfolio/portfolio/sass/main.scss */
a:hover img {
  opacity: 0.6;
}

/* line 384, /Users/ms/Documents/Projects/Personal Portfolio/Portfolio/portfolio/sass/main.scss */
a:hover .link-to-case {
  color: white !important;
  display: block;
}

/* line 388, /Users/ms/Documents/Projects/Personal Portfolio/Portfolio/portfolio/sass/main.scss */
a:hover .link-to-case + p {
  display: none;
}

/* line 392, /Users/ms/Documents/Projects/Personal Portfolio/Portfolio/portfolio/sass/main.scss */
#further .content a:hover {
  color: #45484B;
}

/* line 395, /Users/ms/Documents/Projects/Personal Portfolio/Portfolio/portfolio/sass/main.scss */
#greatworks .content a:hover {
  color: #F03C64;
}

/* line 398, /Users/ms/Documents/Projects/Personal Portfolio/Portfolio/portfolio/sass/main.scss */
#personalfinance .content a:hover {
  color: #F17397;
}

/* line 401, /Users/ms/Documents/Projects/Personal Portfolio/Portfolio/portfolio/sass/main.scss */
#bullogram .content a:hover {
  color: #50CC5C;
}

/* line 404, /Users/ms/Documents/Projects/Personal Portfolio/Portfolio/portfolio/sass/main.scss */
#yousee .content a:hover {
  color: #406E68;
}

/* line 407, /Users/ms/Documents/Projects/Personal Portfolio/Portfolio/portfolio/sass/main.scss */
#frontpage .info a:hover {
  color: white;
}

/* line 410, /Users/ms/Documents/Projects/Personal Portfolio/Portfolio/portfolio/sass/main.scss */
#further .info a:hover,
#greatworks .info a:hover,
#personalfinance .info a:hover,
#bullogram .info a:hover,
#yousee .info a:hover {
  color: #666666;
}

/*----------
MEDIA QUERIES
----------*/
/*tablet*/
@media screen and (max-width: 1200px) {
  /* line 424, /Users/ms/Documents/Projects/Personal Portfolio/Portfolio/portfolio/sass/main.scss */
  h1, h2 {
    font-size: 40px;
    line-height: 54px;
  }
  /* line 427, /Users/ms/Documents/Projects/Personal Portfolio/Portfolio/portfolio/sass/main.scss */
  h1 .minion, h2 .minion {
    font-size: 46px;
  }
  /* line 431, /Users/ms/Documents/Projects/Personal Portfolio/Portfolio/portfolio/sass/main.scss */
  h3 {
    font-size: 28px;
    line-height: 40px;
  }
  /* line 435, /Users/ms/Documents/Projects/Personal Portfolio/Portfolio/portfolio/sass/main.scss */
  p {
    font-size: 16px;
    line-height: 28px;
  }
  /* line 440, /Users/ms/Documents/Projects/Personal Portfolio/Portfolio/portfolio/sass/main.scss */
  #back-button a {
    font-size: 16px;
  }
  /* line 442, /Users/ms/Documents/Projects/Personal Portfolio/Portfolio/portfolio/sass/main.scss */
  #back-button a img {
    height: 20px;
    top: 4px;
  }
  /* line 448, /Users/ms/Documents/Projects/Personal Portfolio/Portfolio/portfolio/sass/main.scss */
  .info, #back-button, .intro, .content, .header, .apropos, .bg-three-screens {
    width: 90%;
  }
  /* line 451, /Users/ms/Documents/Projects/Personal Portfolio/Portfolio/portfolio/sass/main.scss */
  #cases, .intro, .apropos, .bg-one-screen, .bg-two-screens, .bg-four-screens, .picture {
    width: 100%;
  }
  /* line 454, /Users/ms/Documents/Projects/Personal Portfolio/Portfolio/portfolio/sass/main.scss */
  #cases, .intro, .apropos, .bg-one-screen, .bg-two-screens, .bg-four-screens {
    padding: 5%;
  }
  /* line 457, /Users/ms/Documents/Projects/Personal Portfolio/Portfolio/portfolio/sass/main.scss */
  .info, #back-button {
    margin: 40px 5% 120px 5%;
  }
  /* line 460, /Users/ms/Documents/Projects/Personal Portfolio/Portfolio/portfolio/sass/main.scss */
  #back-button + .content h1 + p {
    margin-top: 40px;
  }
  /* line 463, /Users/ms/Documents/Projects/Personal Portfolio/Portfolio/portfolio/sass/main.scss */
  .content, .header {
    padding: 0px 80px;
  }
  /* line 465, /Users/ms/Documents/Projects/Personal Portfolio/Portfolio/portfolio/sass/main.scss */
  .content .align-right, .header .align-right {
    margin-top: 8px;
  }
  /* line 469, /Users/ms/Documents/Projects/Personal Portfolio/Portfolio/portfolio/sass/main.scss */
  .bg-three-screens {
    padding: 0px;
    grid-column-gap: 5%;
  }
  /* line 473, /Users/ms/Documents/Projects/Personal Portfolio/Portfolio/portfolio/sass/main.scss */
  .content, .header, .apropos, .bg-two-screens, .bg-four-screens {
    grid-column-gap: 5%;
  }
  /* line 476, /Users/ms/Documents/Projects/Personal Portfolio/Portfolio/portfolio/sass/main.scss */
  .content, .header, .apropos {
    grid-template: auto / 1fr 4fr;
  }
  /* line 479, /Users/ms/Documents/Projects/Personal Portfolio/Portfolio/portfolio/sass/main.scss */
  .top160 {
    margin-top: 80px;
  }
  /* line 482, /Users/ms/Documents/Projects/Personal Portfolio/Portfolio/portfolio/sass/main.scss */
  .bottom160 {
    margin-bottom: 80px;
  }
  /* line 485, /Users/ms/Documents/Projects/Personal Portfolio/Portfolio/portfolio/sass/main.scss */
  #frontpage #cases {
    grid-column-gap: 20%;
    margin: 160px auto auto auto;
  }
  /* line 488, /Users/ms/Documents/Projects/Personal Portfolio/Portfolio/portfolio/sass/main.scss */
  #frontpage #cases .greatworks, #frontpage #cases .bullogram, #frontpage #cases .yousee, #frontpage #cases .personalfinance {
    padding-right: 0px;
    padding-left: 0px;
  }
}

/*phone*/
@media screen and (max-width: 667px) {
  /* line 497, /Users/ms/Documents/Projects/Personal Portfolio/Portfolio/portfolio/sass/main.scss */
  h1, h2 {
    font-size: 32px;
    line-height: 44px;
  }
  /* line 500, /Users/ms/Documents/Projects/Personal Portfolio/Portfolio/portfolio/sass/main.scss */
  h1 .minion, h2 .minion {
    font-size: 38px;
  }
  /* line 504, /Users/ms/Documents/Projects/Personal Portfolio/Portfolio/portfolio/sass/main.scss */
  h3 {
    font-size: 24px;
    line-height: 36px;
  }
  /* line 508, /Users/ms/Documents/Projects/Personal Portfolio/Portfolio/portfolio/sass/main.scss */
  #frontpage #cases {
    margin: 80px auto auto auto;
  }
  /* line 510, /Users/ms/Documents/Projects/Personal Portfolio/Portfolio/portfolio/sass/main.scss */
  #frontpage #cases .greatworks, #frontpage #cases .bullogram, #frontpage #cases .yousee, #frontpage #cases .personalfinance {
    padding-right: 0px;
    padding-left: 0px;
  }
  /* line 514, /Users/ms/Documents/Projects/Personal Portfolio/Portfolio/portfolio/sass/main.scss */
  #frontpage #cases img + p, #frontpage #cases img + p + p {
    margin-top: 10px;
    margin-bottom: 80px;
  }
  /* line 519, /Users/ms/Documents/Projects/Personal Portfolio/Portfolio/portfolio/sass/main.scss */
  .info, #back-button {
    margin: 40px 5% 60px 5%;
  }
  /* line 522, /Users/ms/Documents/Projects/Personal Portfolio/Portfolio/portfolio/sass/main.scss */
  .header {
    margin: 40px auto;
    padding: 0px;
  }
  /* line 525, /Users/ms/Documents/Projects/Personal Portfolio/Portfolio/portfolio/sass/main.scss */
  .header h1 + p {
    margin-top: 40px;
  }
  /* line 529, /Users/ms/Documents/Projects/Personal Portfolio/Portfolio/portfolio/sass/main.scss */
  .bg-one-screen, .bg-three-screens, .picture {
    width: 100%;
  }
  /* line 532, /Users/ms/Documents/Projects/Personal Portfolio/Portfolio/portfolio/sass/main.scss */
  .bg-one-screen, .bg-two-screens, .bg-three-screens, .bg-four-screens {
    padding: 20px;
  }
  /* line 534, /Users/ms/Documents/Projects/Personal Portfolio/Portfolio/portfolio/sass/main.scss */
  .bg-one-screen img, .bg-two-screens img, .bg-three-screens img, .bg-four-screens img {
    margin: 20px auto;
  }
  /* line 538, /Users/ms/Documents/Projects/Personal Portfolio/Portfolio/portfolio/sass/main.scss */
  .info, #cases, .content, .header, .apropos, .bg-two-screens, .bg-three-screens, .bg-four-screens {
    display: block;
  }
  /* line 541, /Users/ms/Documents/Projects/Personal Portfolio/Portfolio/portfolio/sass/main.scss */
  .info {
    margin-top: 40px;
  }
  /* line 544, /Users/ms/Documents/Projects/Personal Portfolio/Portfolio/portfolio/sass/main.scss */
  .top80 {
    margin-top: 20px;
  }
  /* line 547, /Users/ms/Documents/Projects/Personal Portfolio/Portfolio/portfolio/sass/main.scss */
  .top8 {
    margin-bottom: 20px;
  }
  /* line 550, /Users/ms/Documents/Projects/Personal Portfolio/Portfolio/portfolio/sass/main.scss */
  .content, .header {
    padding: 0px;
  }
  /* line 552, /Users/ms/Documents/Projects/Personal Portfolio/Portfolio/portfolio/sass/main.scss */
  .content .align-right, .header .align-right {
    margin-bottom: 40px;
  }
  /* line 556, /Users/ms/Documents/Projects/Personal Portfolio/Portfolio/portfolio/sass/main.scss */
  .align-right {
    text-align: left;
  }
  /* line 559, /Users/ms/Documents/Projects/Personal Portfolio/Portfolio/portfolio/sass/main.scss */
  .align-center {
    text-align: left;
  }
}

/*# sourceMappingURL=../css/main.map */